<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found- The Real Weather</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
          <img src="https://cdn-icons-png.flaticon.com/512/755/755014.png" alt="404-icon" class="not-found-icon">
          <!-- <h1 class="display-4">404</h1> -->
          <p class="lead">Sorry, the page you have requested, could not be found !</p>
          <a class="btn btn-primary btn" href="/" role="button">Back to Home</a>
        </div>
    </div>
</body>
</html>

<%- include("partials/footerCities"); -%>