<%- include("partials/header"); -%>

<h1 class="pop-cities-head">Some Popular Cities to look out for...</h1>

<div id="cities-containers" class="cities-containers">
    
    <!-- <div class="row cities-row"> -->
    <div class="row cities-row">
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Tokyo">
                <button type="submit">
                    <div class="card">
                        <img src="https://wallpaper.dog/large/10765619.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Tokyo</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="New York">
                <button type="submit">
                    <div class="card">
                        <img src="https://i.redd.it/6vb3s9ow29o11.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">New York</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="London">
                <button type="submit">
                    <div class="card">
                        <img src="https://images.hdqwalls.com/download/london-lights-4k-ap-2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">London</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Paris">
                <button type="submit">
                    <div class="card">
                        <img src="https://s1.1zoom.me/b8048/487/Sky_Evening_France_Eiffel_Tower_Paris_From_above_520603_2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Paris</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
         
    <!-- </div> -->
    <!-- <div class="row cities-row"> -->

        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Sydney">
                <button type="submit">
                    <div class="card">
                        <img src="https://wallpaperaccess.com/full/1564424.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Sydney</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Los Angeles">
                <button type="submit">
                    <div class="card">
                        <img src="https://data.1freewallpapers.com/download/city-palm-trees-sunset-buildings-skyscrapers-los-angeles-2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Los Angeles</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Mumbai">
                <button type="submit">
                    <div class="card">
                        <img src="https://www.teahub.io/photos/full/285-2859026_mumbai-mumbai-city.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Mumbai</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Dubai">
                <button type="submit">
                    <div class="card">
                        <img src="https://s1.1zoom.me/b5050/839/Dubai_Emirates_UAE_Houses_Skyscrapers_Roads_Night_544241_2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Dubai</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
           
    <!-- </div> -->

    <!-- <div class="row cities-row"> -->
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Venice">
                <button type="submit">
                    <div class="card">
                        <img src="https://img1.goodfon.com/original/2560x1440/0/df/venice-italy-grand-canal.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Venice</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Osaka">
                <button type="submit">
                    <div class="card">
                        <img src="https://s1.1zoom.me/b5546/278/Japan_Houses_Rivers_Bridges_Evening_Marinas_Osaka_540877_2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Osaka</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
        
        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Seoul">
                <button type="submit">
                    <div class="card">
                        <img src="https://images5.alphacoders.com/647/647349.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Seoul</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col- bootstrap-col">
            <form action="/cities" method="post" class="popcity-form">
                <input type="hidden" name="popCity" value="Frankfurt">
                <button type="submit">
                    <div class="card">
                        <img src="https://s1.1zoom.me/b5361/981/Bridges_Rivers_Houses_Germany_Frankfurt_Evening_534232_2560x1440.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <span class="card-text">Frankfurt</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    </div>
        
    <!-- </div> -->
    
</div>

<%- include("partials/footerCities"); -%>