<%- include("partials/header"); -%>

<div class="today-status">
    <div>
        <span id="time-home" class="time-home"></span>
    </div>
    <div>
        <span id="day-home" class="day-home"></span>
    </div>
</div>

<!-- <div class="custom-city">
    <form action="/" method="post" id="custom-city-form" class="custom-city-form">
        <input type="text" id="cityName" name="cityName">
        <button type="submit">Go</button>
    </form>
</div> -->