<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found- The Real Weather</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Oops !</h1>
            <p class="lead">No Result Found :(</p>
            <hr class="my-4">
            <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
            <ul>
                <li>Make sure you entered the city correctly.</li>
                <li>Try putting the city name along with the country code. Example: London, GB or New York, US.</li>
            </ul>
            <a class="btn btn-primary btn" href="/" role="button">Back to Home</a>
        </div>
    </div>
</body>
</html>

<%- include("partials/footerCities"); -%>